<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息管理</title>
    <link rel="stylesheet" href="/component/layui/css/layui.css">

    <link rel="stylesheet" href="/css/dp01.css">

</head>
<body>

<div class="container">
    <div class="layui-row">
        <div class="layui-col-xs12">


            <h1 style="text-align: center">学生信息管理</h1>

        </div>

    </div>

    <div class="layui-row">
        <div class="layui-col-xs12 toolbar">


            <div class="layui-row">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal"
                        onclick="showStudenDlg();return false;">

                    <i class="layui-icon layui-icon-addition" ></i>
                </button>

                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal layui-bg-red"
                        onclick="deleteConfirm();" style="float:right;">

                    <i class="layui-icon layui-icon-delete" ></i>
                </button>

            </div>

            <div class="queryBox">
                <form action="" class="layui-form" id="queryForm">
                    <ul class="query-inline">
                        <li class="layui-input-group">
                            <div class="layui-input-prefix">
                                学号
                            </div>
                            <input type="text" placeholder="学号" class="layui-input" name="sno">

                        </li>
                        <li class="layui-input-group">
                            <div class="layui-input-prefix">
                                姓名
                            </div>
                            <input type="text" placeholder="姓名" class="layui-input" name="name">

                        </li>
                        <li class="layui-input-group">
                            <div class="layui-input-prefix">
                                年龄
                            </div>
                            <input type="number" placeholder="年龄" class="layui-input" name="age">

                        </li>
                        <li class="layui-input-group">
                            <div class="layui-input-prefix">
                                性别:
                            </div>
                            <select name="sex">
                                <option value="">请选择</option>
                                <option value="1">男</option>
                                <option value="2">女</option>
                            </select>

                        </li>
                        <li class="layui-input-group">
                            <button type="button" class="layui-btn layui-btn-normal"
                                    onclick="search();return false;" style="margin-left: 20px;">查询
                            </button>
                        </li>
                    </ul>

                </form>

            </div>




        </div>

    </div>


    <div class="layui-row">
        <div class="layui-col-xs12">

            <table class="layui-hide" id="tbStudent" lay-filter="tbStudent"></table>

        </div>

    </div>


</div>

<script type="text/html" id="editTemplate">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>

    </div>
</script>

<div id="popDlg" style="display: none;">

    <form class="layui-form dlgcontainer" id="studForm" >
        <div class="demo-reg-container">
            <div class="layui-form-item" id="formId">
                <div class="layui-row">
                    <div class="layui-col-xs12">
                        <div class="layui-input-wrap">
                            <div class="layui-input-prefix">
                                <i class="layui-icon layui-icon-cellphone"></i>
                            </div>
                            <input type="text" name="id" value=""  placeholder="id" lay-reqtext="id"
                                   autocomplete="off" class="layui-input" id="id">
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-wrap">
                    <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-vercode"></i>
                    </div>
                    <input type="text" name="sno" value="" lay-verify="required" placeholder="学号" lay-reqtext="请填学号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-wrap">
                    <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-username"></i>
                    </div>
                    <input type="text" name="name" value="" lay-verify="required" placeholder="姓名" autocomplete="off" class="layui-input" id="name" >
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-wrap">
                    <label class="layui-form-label">性别</label>

                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="1" title="男" checked>
                        <input type="radio" name="sex" value="2" title="女">

                    </div>

                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-wrap">
                    <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-password"></i>
                    </div>
                    <input type="text" name="age" value="" placeholder="年龄" autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-wrap">
                    <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-password"></i>
                    </div>
                    <input type="text" name="password" value="" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input" id="password">
                </div>
            </div>

            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="stud-dlg" id="btnOK">确定</button>
            </div>

        </div>
    </form>

</div>


<script src="/component/layui/layui.js"></script>


<script src="/pagejs/dp01.js"></script>
</body>
</html>