.container{
    max-width: 1200px;
    margin: 10px auto ;
}
.toolbar{
    margin-top: 50px;
}
.dlgcontainer{
    margin: 50px;
}

.queryBox{
    margin: 10px 0;
    border: solid 1px #aaaaaa;
    padding: 10px;
}
.query-inline{
    display: flex;
}